body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: arial;
    height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inHeaderOne {
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
}

.inHeaderTwo {
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.inHeaderThree {
    width: 30%;
    height: 60px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    padding-right: 20px;
}

.whiteLogo {
    height: 25px;
    margin-left: 30px;
}

.jText {
    color: white;
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

a:hover {
    color: #3693cb;
}

.logAndSign {
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.logAndSign:hover {
    cursor: pointer;
    background-color: white;
    color: #3693cb;
    font-weight: bold;
}

.landingBox {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 40px;
}

.firstGrid {
    display: inline-block;
    width: 850px;
}

.secondGrid {
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 30px;
}

.firstGridText {
    color: white;
    margin-left: 30px;
    font-size: 300%;
    line-height: 65px;
    margin-bottom: 0;
}

.getStarted {
    background-color: white;
    border: none;
    color: #3693cb;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.getStarted:hover {
    cursor: pointer;
    opacity: 0.7;
}

.subSecond {
    display: flex;
    align-items: center;
}

.html {
    width: 100px;
    margin-left: 60px;
}

.blueLink {
    color: #3693cb;
}

.newHeader {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    top: 0;
}

.jbText {
    color: black;
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
}

.logSign {
    color: #3693cb;
    border-style: solid;
    border-width: 1px;
    border-color: #3693cb;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.logSign:hover {
    cursor: pointer;
    background-color: #3693cb;
    color: white;
    font-weight: bold;
}

.two {
    color: black;
}

.firstDiv {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto;
}

.bigTextOne {
    font-size: 250%;
    font-weight: bold;
    margin-left: 30px;
    line-height: 52px;
    margin-bottom: 0;
}

.textContainer {
    display: inline-block;
    margin-top: 0;
}

.spiralContainer {
    display: flex;
    align-items: center;
}

.blueSpiral {
    width: 300px;
    margin-left: 60px;
    margin-right: 30px;
}

.contactUsButton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: #3693cb;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 10px;
}

.vodButton {
    background-color: white;
    border-color: #3693cb;
    border-width: 1px;
    border-style: solid;
    color: #3693cb;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.contactUsButton:hover {
    cursor: pointer;
    opacity: 0.7;
}

.vodButton:hover {
    cursor: pointer;
    opacity: 0.7;
}

.ltcDiv {
    background-color: #3693cb;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ltcLogo {
    height: 30px;
    opacity: 0.7;
}

.serviceDiv {
    width: 100%;
    display: block;
    text-align: center;
}

.blueBro {
    width: 100%;
    height: 80px;
}

.bigTextTwo {
    color: black;
    font-weight: bold;
    font-size: 250%;
    margin-top: 0;
    margin-bottom: 20px;
}

.normalText {
    color: black;
    font-size: 220%;
    margin-top: 0;
    line-height: 45px;
    margin-left: 30px;
    margin-right: 30px;
}

.twoBox {
    width: 300px;
    height: 300px;
    background-color: white;
    outline: 2px solid #3693cb;
    border-radius: 30px;
    display: inline-block;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    vertical-align: middle;
    text-align: center;
}

.blueGraphic {
    width: 80px;
    margin-top: 70px;
}

.logText {
    color: black;
    font-size: 200%;
}

.clientBox {
    background-color: white;
    display: inline-block;
    width: 350px;
    height: 300px;
    outline: 2px solid #3693cb;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    vertical-align: middle;
    text-align: left;
    padding-top: 40px;
    padding-left: 30px;
}

.star {
    width: 20px;
    display: inline-block;
}

.smallText {
    font-size: 120%;
}

.oicon {
    width: 60px;
}

.fDiv {
    display: block;
}

.sDiv {
    display: inline-block;
    vertical-align: middle;
}

.tDiv {
    display: inline-block;
    vertical-align: middle;
}

.sbt {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.sst {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
}

footer {
    background-color: #3A3E49;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    vertical-align: top;
    justify-content: space-between;
}

.footOne {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profileDiv {
    display: inline-block;
    vertical-align: middle;
}

.profile {
    width: 60px;
}

.fFirst {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.bBigText {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.bSmallText {
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.fSecond {
    text-align: left;
    margin-left: 80px;
    margin-top: 10px;
}

.footTwo {
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    margin-right: 100px;
}

.contactDiv {
    margin-top: 10px;
}

.contact {
    width: 22px;
    margin-left: 10px;
    vertical-align: middle;
}

.firstAbout {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 60px;
}

#mast {
    margin-top: 80px;
}

.pictures {
    height: 350px;
    margin-right: 20px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.service {
    height: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.fullContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox {
    width: 350px;
    height: 400px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border-style: solid;
    border-color: #333;
    border-width: 2px;
}

.loginTextDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-top: 20px;
}

.loginText {
    color: white;
    font-size: 150%;
    font-weight: bold;
}

.inputDiv {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainInputBox {
    width: 80%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 40px;
    font-size: 17px;
    color: white;
    border-style: solid;
    border-color: white;
    background-color: transparent;
}

.mainInputBox::placeholder {
    color: white;
}

.forgotPasswordDiv {
    display: flex;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.forgotPasswordText {
    color: white;
    font-size: 15px;
}

.forgotPasswordText:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.loginButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButton {
    border-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 87%;
    border-radius: 40px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}

.signupQuestionDiv {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
}

.accountQuestion {
    color: white;
}

.signupLink {
    color: white;
    font-size: 15px;
}

.signupLink:hover {
    color: white;
    text-decoration: underline;
}

.upSpace {
    width: 100%;
    height: 40px;
    display: flex;
}

.userAndMenu {
    display: none;
}

.extraSpace {
    display: block;
    width: 100%;
    height: 50px;
}

.side-menu{
    display: none;
}

.side-menuOne{
    display: none;
}

.images{
    display: inline-block;
    text-align: center;
}

@media (max-width: 768px) {
    .inHeaderTwo {
        display: none;
    }

    .inHeaderThree {
        display: none;
    }

    .userAndMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .user {
        width: 25px;
        height: 25px;
        margin-right: 20px;
    }

    .user:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .menu {
        width: 25px;
        height: 20px;
    }

    .menu:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .landingBox {
        display: block;
    }

    .firstGrid {
        display: inline-block;
        width: 100vw;
    }

    .secondGrid {
        display: none;
    }

    .firstGridText {
        margin-right: 20px;
        font-size: 230%;
    }

    .firstDiv {
        display: block;
    }

    .spiralContainer {
        display: none;
    }

    .bigTextOne {
        margin-top: 10px;
        margin-right: 20px;
        font-size: 230%;
    }

    .normalText {
        font-size: 160%;
    }

    .service {
        height: 70px;
        margin-left: 30px;
    }

    footer {
        display: block;
    }

    .footOne {
        width: 350px;
        display: block;
        text-align: left;
        padding-left: 30px;
    }

    .footTwo {
        display: block;
        width: 90%;
        padding-left: 20px;
    }

    .side-menu{
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #3693cb;
    color: white;
    overflow-x: hidden;
    transition: right 0.3s ease;
    padding-top: 60px;
    z-index: 1000;
    display: block;
    text-align: left;
}

.side-menu.show{
    right: 0;
}

.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.menu-links{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.menu-links a{
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.2s;
}

.menu-links a:hover{
    opacity: 0.7;
}
    .side-menuOne{
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #3693cb;
    color: white;
    overflow-x: hidden;
    transition: right 0.3s ease;
    padding-top: 60px;
    z-index: 1000;
    display: block;
    text-align: left;
}

.side-menuOne.showOne{
    right: 0;
}

.close-btnOne{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.menu-linksOne{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.menu-linksOne a{
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.2s;
}

.menu-linksOne a:hover{
    opacity: 0.7;
}

.serviceDiv{
    text-align: left;
}

.bigTextTwo{
    margin-left: 30px;
}

.firstAbout{
    text-align: left;
}
}